<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MEMOR APP - Mobile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <link href="img/brain.png" rel="icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <!--<script type="text/javascript">
        (function() {
            emailjs.init("9Nzm2iYX7EvfH1_8k");
        })();
    </script> -->



</head>


<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <div class="container-xxl bg-white p-0">
        <!-- Spinner inicio -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
        <!-- Spinner fin -->


        <!-- Navbar inicio -->
        <div class="container-xxl position-relative p-0" id="home">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">

                    <h1 class="m-0"><img src="img/brain.png" alt="Logo" style="padding-bottom: 13px;">MEMOR </h1>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="#home" class="nav-item nav-link active">Inicio</a>
                        <a href="#about" class="nav-item nav-link">Acerca de</a>
                        <a href="#feature" class="nav-item nav-link">Características</a>
                        <a href="#pricing" class="nav-item nav-link">Precio</a>
                        <a href="#review" class="nav-item nav-link">Reseña</a>
                        <a href="#contact" class="nav-item nav-link">Contacto</a>
                    </div>
                    <a href="/register" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Empieza tu prueba gratuita</a>
                    <a href="/login"><img src="img/next.png" style="width: 50px; padding-left: 10px;" alt=""></a>
                </div>
            </nav>
            <!-- Navbar fin -->
            <!--  -->

            <div class="container-xxl bg-primary hero-header">
                <div class="container px-lg-5">
                    <div class="row g-5">
                        <div class="col-lg-8 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated slideInDown">Recuerda tareas del hogar que realizaste o que debes realizar mediante un aviso a tú dispositivo</h1>
                            <p class="text-white pb-3 animated slideInDown">Aplicación diseñada para personas con problemas relacionados con la pérdida de memoria y la disminución de las capacidades cognitivas.</p>
                            <a href="" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Leer más</a>
                            <a href="" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Contacto</a>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp" data-wow-delay="0.3s">
                            <div class="owl-carousel screenshot-carousel">
                                <img class="img-fluid" src="img/foto4.png" alt="">
                                <img class="img-fluid" src="img/foto3.png" alt="">
                                <img class="img-fluid" src="img/foto1.png" alt="">
                                <img class="img-fluid" src="img/foto2.png" alt="">
                                <img class="img-fluid" src="img/foto5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar fin -->


        <!-- Inicio acerca -->
       
        <!-- Contacto fin -->





        <!-- Footer inicio -->
         
     {{> @partial-block}}
   {{> footer}}
    <!-- Footer FIN -->


    <!-- BOTON VOLVER A INICIO -->
   
</body>

</html>
<body>
   <!--  {{> header}}-->
   
</body>
</html>